<!doctype html>
<html>

<head>
  <title>Gerenciador Educacional On-Line 2.0</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}" media="screen">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">G-E-O</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('login')}}">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<body class="body">
  <div class="container-lg" style="text-align: start;">
    <form style="padding: 100px;">
      <h2 style="padding: 20px;">Gerenciador Educacional On-Line 2.0</h2> 
      
      <h3 style="padding: 20px;">Sistema para gerenciamento dos coordenadores</h3>
      
      <h4 style="padding: 20px;">Este site foi desenvolvido com o objetivo de auxiliar os administradores da escola a armazenar
       e controlar informações a cerca das salas de aulas, alunos, frequências e notas.
      <p>Essa é a segunda versão do projeto, aumentando o escopo da versão anterior, que focou nos professores como público alvo.</p>
      <p>As ferramentas e recursos aqui desponibilizadas foram escolhidas a partir de pesquisa de campo com coordenadores e secretários 
      de uma escola municipal do Guarujá-SP.</p>
      <p>Foi utilizada linguagem Python, framework Flask, framework Bootstrap em Javascript e CSS, banco de dados com SQLite.</p></h4>
    </form>
  </div>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='js/bootstrap.min.js')}}" media="screen">
</body>

</html>